body {
  color: #fff;
  cursor: default;

  background: #36094f;
}


#masked-page {
  background-image: url("../imgs/Asset 2.png");

}

.playText span {
  transition: 0.5s;
}


.playText span:last-child{
  animation: tanPassive 1s linear infinite;

}

@keyframes tanPassive {
  0%  {

    color: #fff;

  }
  30%  {
    font-weight: 500;

    color: #ffff00;
  }
  40%  {
    font-weight: 200;

    color: #fff;
  }
  50%  {
    font-weight: 500;

    color: #ffff00;
  }
  80%  {
    font-weight: 200;

    color: #fff;
  }
  100%  {
    font-weight: 200;
    
    color: #fff;
  }

}

#scrollDown {
  display: block;
}
