body {
  color: #fff;
  cursor: default;

  background: #4f0b20;
}

/* @keyframes blinking {
  0%  {background: #6a2c70;}
  50%  {background: #6a2c70;}
  55%  {background: #b055ba;}
  70%  {background: #6a2c70;}
  75%  {background: #b055ba;}
  100%  {background: #6a2c70;}
} */

#masked-page-img {
  background-image: url("../imgs/Asset 3.png");

}

#readplayButton0 {
  background: none;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.3;
}

.playText span {
  display: inline-block;
}

.playText p {
  display: block;
  /* font-size: 1em; */
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: 3s ease-in;
}

.playText p:hover {
  color: black;
  /* font-size: 5em; */
  transform: matrix(2.5, -0.3, 0, 2.5, 0, 0);
  transition: 4s cubic-bezier(1,.34,1,.03);
}

.playText p:hover {
  color: black;
  /* font-size: 5em; */
  transform: matrix(2.5, -0.3, 0, 2.5, 0, 0);
  transition: 4s cubic-bezier(1,.34,1,.03);
}

#section5 .playText p:hover {
  color: black;
  /* font-size: 5em; */
  transform: matrix(2.5, -0.3, 0, 2.5, 0, 0);
  transition: 4s cubic-bezier(1,-0.45,1,-0.69);
}
